@charset "UTF-8";
/* VARIABLES */
/*index*/
/* shop */
/* sucursales */
/*donaciones*/
/*body*/
/* GENERAL */
* {
  margin: 0%;
  padding: 0%;
}

html {
  font-size: 16px;
}

ul {
  list-style-type: none;
}

/* HEADER */
/*index*/
/* shop */
/* sucursales */
/*donaciones*/
/*body*/
.header {
  background-color: rgb(125, 152, 190);
  width: 100%;
  text-align: right;
  font-size: 18px;
}
.header .inicio {
  color: rgb(31, 5, 56);
  text-decoration: underline;
  text-align: right;
}
.header .tienda {
  color: rgb(31, 5, 56);
  text-decoration: underline;
}
.header .sucursales {
  color: rgb(31, 5, 56);
  text-decoration: underline;
}
.header .nosotros {
  color: rgb(31, 5, 56);
  text-decoration: underline;
}
.header .donaciones {
  color: rgb(31, 5, 56);
  text-decoration: underline;
}
.header a {
  text-decoration: none;
  cursor: pointer;
}

/* TÍTULOS */
/*index*/
/* shop */
/* sucursales */
/*donaciones*/
/*body*/
h1 {
  color: rgb(43, 11, 73);
  text-align: center;
  font-size: 35px;
  margin-top: 40px;
  margin-bottom: 20px;
}

h2 {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 0%;
}

/* BODY */
body {
  background-image: url(../images/fondo.liso.jpg.jpg);
}

/* FOOTER */
/*index*/
/* shop */
/* sucursales */
/*donaciones*/
/*body*/
.redes {
  text-align: right;
  margin-top: 40px;
}

.direccion {
  color: rgb(101, 107, 112);
  text-align: left;
  margin-top: 20px;
}

.copyright {
  color: rgb(101, 107, 112);
  text-align: left;
}

/* INDEX */
/*index*/
/* shop */
/* sucursales */
/*donaciones*/
/*body*/
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container #carouselExampleIndicators {
  height: 410px;
  width: 747px;
}

/* ANIMACION*/
.gallery {
  display: flex;
  justify-content: center;
}

.gallery img {
  width: 20%;
  border-radius: 250px;
}

.img-lips, .img-partners {
  position: relative;
}

.img-lips {
  left: 30px;
}

.img-partners {
  right: 30px;
}

.img-lips:hover {
  transform: translateX(-100px);
  transition: all 1s;
  cursor: pointer;
}

.img-partners:hover {
  transform: translateX(100px);
  transition: all 1s;
  cursor: pointer;
}

.img-explore:hover {
  z-index: 2;
  transition: all 1s;
}

.w-100 {
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.subtitulo {
  color: rgb(68, 57, 73);
  background-color: rgb(125, 152, 190);
  text-align: center;
  font-size: 30px;
  margin-top: 80px;
  margin-bottom: 0px;
}

.presentacion {
  color: rgb(82, 82, 75);
  background-color: rgb(125, 152, 190);
  text-align: center;
  font-size: 20px;
  margin-bottom: 80px;
}

.logo {
  position: relative;
  width: auto;
  height: 65px;
}

.main-titulo {
  margin-top: 5px;
  text-align: center;
}

.container-titulo {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  justify-content: center;
}

/* INICIO SHOP */
/*index*/
/* shop */
/* sucursales */
/*donaciones*/
/*body*/
.grid-container {
  display: grid;
  grid-template-rows: repeat(1, 300px);
  grid-template-columns: repeat(5, 1fr);
}

.grid-item {
  border: 30px solid rgb(160, 182, 218);
}

.imagen {
  width: 100%;
  height: 100%;
}

.uno {
  grid-column-start: 2;
  grid-column-end: 3;
}

.dos {
  grid-column-start: 4;
  grid-column-end: 5;
}

/* grilla 2  */
.grid-container-dos {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

.tres {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

.cuatro {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;
}

.cinco {
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 3;
}

.seis {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 4;
}

.siete {
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 4;
}

.nuevos-ingresos {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  text-decoration: underline;
  color: rgb(50, 4, 114);
  font-size: 35px;
}

.mas-vendidos {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  color: rgb(50, 4, 114);
}

/* SUCURSALES */
/*index*/
/* shop */
/* sucursales */
/*donaciones*/
/*body*/
.ubicacion {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.ubicacion.moron, .ubicacion.ramos, .ubicacion.san-justo, .ubicacion.belgrano, .ubicacion.san-isidro {
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline rgb(54, 42, 79);
  text-decoration-style: solid;
}
.ubicacion.belgrano {
  text-transform: uppercase;
}

/* ABOUT */
.datos-compania {
  font-size: 25px;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 60px;
  margin-top: 50px;
}

/* DONATION */
/*index*/
/* shop */
/* sucursales */
/*donaciones*/
/*body*/
.donaciones-p {
  text-align: center;
  font-size: 42px;
  margin-bottom: 30px;
}

.intro-donaciones {
  text-align: center;
  font-size: 28px;
  margin: 20px 80px;
}

.donaciones-data {
  text-align: center;
  font-size: 28px;
  margin: 25px 80px;
}

.propuesta-donacion {
  text-align: center;
  font-size: 28px;
  margin: 25px 80px;
  color: rgb(46, 52, 59);
}

.cbu-data {
  text-align: center;
  font-size: 28px;
  margin: 10px 80px 80px;
}

/* MEDIA QUERYS */
/* mobile */
@media screen and (max-width: 519px) {
  .body {
    background-color: rgb(125, 152, 190);
  }
  .header {
    font-size: 1rem;
    display: flex;
  }
  .section {
    display: flex;
    flex-direction: column;
  }
  .grid-container-dos {
    display: inline;
  }
}
@media only screen and (min-width: 520px) and (max-width: 767px) {
  header {
    font-size: 1.2rem;
  }
  section {
    display: flex;
    flex-direction: column;
  }
  .grid-container {
    display: inline;
  }
  .grid-item-a {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .grid-item-b {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .grid-container-dos {
    display: inline;
  }
  .gallery {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

/*# sourceMappingURL=style.css.map */
