@import "variables";

.donaciones-p{
    text-align: center;
    font-size: 42px;
    margin-bottom: 30px;
}

.intro-donaciones{
    text-align: center;
    font-size: 28px;
    margin: 20px 80px;
}

.donaciones-data{
    text-align: center;
    font-size: 28px;
    margin: 25px 80px;
}

.propuesta-donacion{
    text-align: center;
    font-size: 28px;
    margin: 25px 80px;
    color: $color-propuesta-donacion;
}

.cbu-data{
    text-align: center;
    font-size: 28px;
    margin: 10px 80px 80px;
}
