/* VARIABLES */
@import "variables";

/* GENERAL */
*{
  margin: 0%;
  padding: 0%;
}

html{
  font-size: 16px;
}

ul {
  list-style-type: none;
}

/* HEADER */
@import "header";

/* TÍTULOS */
@import "titulos";

/* BODY */

body{
  background-image: url(../images/fondo.liso.jpg.jpg)
}

/* FOOTER */
@import "footer";

/* INDEX */
@import "index";

/* INICIO SHOP */
 @import "shop";

/* SUCURSALES */
@import "sucursales";

/* ABOUT */
@import "about";
  
/* DONATION */

@import "donation";
