    /* CSS */
*{
    margin: 0%;
    padding: 0%;
}

    /* GENERAL  */
html{
    font-size: 16px;
}

ul {
    list-style-type: none;
  }

.header{
    background-color:  rgb(125, 152, 190);
    width: 100%;
    text-align: right;
    font-size: 18px;
   
}

.inicio{
    color: rgb(31, 5, 56);
    text-decoration: underline;
    text-align: right;
    
}

.tienda{
    color: rgb(31, 5, 56);
    text-decoration: underline;
    
}

.sucursales{
    color: rgb(31, 5, 56);
    text-decoration: underline;
}

.nosotros{
    color: rgb(31, 5, 56);
    text-decoration: underline;
}

.donaciones{
    color: rgb(31, 5, 56);
    text-decoration: underline;
}

a{
    text-decoration: none;
    cursor: pointer;

}
h1{
    color: rgb(43, 11, 73);
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 20px;
}

h2{
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 0%;
}

body{
    background-image: url(./images/fondo.liso.jpg.jpg)

}

/* FOOTER */
.redes{
    text-align: right;
    margin-top: 40px;
}

.direccion{
    color: rgb(101, 107, 112);
    text-align: left;
    margin-top: 0px;
}

.copyright{
    color: rgb(101, 107, 112);
    text-align: left;
    
}

/* FIN DEL FOOTER */



/* index=home */
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carouselExampleIndicators{
    height: 410px;
    width: 747px;
}

.subtitulo{
    color: rgb(68, 57, 73);
    background-color:  rgb(125, 152, 190);
    text-align: center;
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 0px;
}

.presentacion{
    color: rgb(82, 82, 75);
    background-color:  rgb(125, 152, 190);
    text-align: center;
    font-size: 20px;
    margin-bottom: 80px;
}
 

.logo {
    position: relative;
    width: auto; /* Ancho de la imagen */
    height: 65px; /* Altura de la imagen */
}

.main-titulo{
    margin-top: 5px;
    text-align: center;  
}

.container-titulo{
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    justify-content: center;
}


    /* FIN INDEX= HOME */


    /* INICIO SHOP */

.grid-container {
    display: grid;
     grid-template-rows: repeat(1, 300px);  
   
    grid-template-columns: repeat(5, 1fr);
    
    

}

.grid-item {
    border: 30px solid rgb(160, 182, 218);
}

.imagen {
    width: 100%;
    height: 100%;
}

.uno{
    grid-column-start: 2;
    grid-column-end: 3;
}

.dos{
    grid-column-start: 4;
    grid-column-end: 5;
}

/* grilla 2  */

.grid-container-dos{
    display: grid;
     grid-template-rows: repeat(1, 1fr);  
   
    grid-template-columns: repeat(10, 1fr);
}

.tres{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start:2 ;
    grid-row-end: 4;
}

.cuatro{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start:2 ;
    grid-row-end: 3;
}

.cinco{
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start:2 ;
    grid-row-end: 3;
}

.seis{
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start:3 ;
    grid-row-end: 4;
    
}

.siete{
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start:3 ;
    grid-row-end: 4;
}

.nuevos-ingresos{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    text-decoration: underline;
    color: rgb(50, 4, 114);
    font-size: 35px;
}

.mas-vendidos{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    color: rgb(50, 4, 114);
}

    /* fin del shop  */
    

    /* SUCURSALES */
.ubicacion{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .moron{
      margin-top: 20px;
      margin-bottom: 20px;
      text-decoration: underline rgb(54, 42, 79);
      text-decoration-style: solid
  }
  
  .ramos{
      margin-top: 20px;
      margin-bottom: 20px;
      text-decoration: underline rgb(54, 42, 79);
      text-decoration-style: solid
  }
  
  .san-justo{
      margin-top: 20px;
      margin-bottom: 20px;
      text-decoration: underline rgb(54, 42, 79);
      text-decoration-style: solid
  }
  
  .Belgrano{
      margin-top: 20px;
      margin-bottom: 20px;
      text-decoration: underline rgb(54, 42, 79);
      text-decoration-style: solid
  }
  
  .san-isidro{
      margin-top: 20px;
      margin-bottom: 20px;
      text-decoration: underline rgb(54, 42, 79);
      text-decoration-style: solid
  }

  /* FIN DE SUCURSALES */
    /* INICIO ABOUT */

.datos-compania{
    font-size: 25px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 60px;
    margin-top: 50px;
}

    /* FIN DE ABOUT */

    /* INICIO DONATION */

.donaciones-p{
    text-align: center;
    font-size: 42px;
    margin-bottom: 30px;
}

.intro-donaciones{
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.donaciones-data{
    text-align: center;
    font-size: 28px;
    margin-top: 25px;
    margin-left: 80px;
    margin-right: 80px;
}

.propuesta-donacion{
    text-align: center;
    font-size: 28px;
    margin-top: 25px;
    margin-left: 80px;
    margin-right: 80px;
    color: rgb(46, 52, 59);
}

.cbu-data{
    text-align: center;
    font-size: 28px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
    margin-top: 10px;
}

/* fin donation */





/* MEDIA QUERYS */


 /* mobile */
@media screen and (max-width: 519px) {
    .body {
        background-color:  rgb(125, 152, 190);

    }
    
    .header{
        font-size: 1rem;
        display: flex;
      }

    
    .section {
        display: flex;
        flex-direction: column;
    }


    
}

@media only screen and (min-width: 520px) and (max-width: 767px) {

    header {
        font-size: 1.2rem;
      }

      section {
        display: flex;
        flex-direction: column;
    }

}


/* fin media query mobile */

