@import "../base/variables";

.redes{
    text-align: right;
    margin-top: 40px;
  }
  
  .direccion{
    color: $color-texto-light;
    text-align: left;
    margin-top: 20px;
  }
  
  .copyright{
    color: $color-texto-light;
    text-align: left;
  }
  
  