$color-principal: rgb(125, 152, 190);
$color-texto: rgb(31, 5, 56);
$color-titulo: rgb(43, 11, 73);
$color-texto-light: rgb(101, 107, 112);

 /*index*/

$color-index-subtitulo:rgb(68, 57, 73);
$fondo-index-subtitulo: rgb(125, 152, 190);
$color-index-presentacion:rgb(82, 82, 75);

/* shop */

$borde-shop-grid:rgb(160, 182, 218);
$color-subtitulos-shop:rgb(50, 4, 114);

/* sucursales */

$color-sucursal-text:rgb(54, 42, 79);

/*donaciones*/

$color-propuesta-donacion:rgb(46, 52, 59);

/*body*/

$background-image-body: url(../images/fondo.liso.jpg.jpg);

